#block-governmentcrest {
	float: none;
}

.crest-container {
	float: left;
}

.crest {
	float: left;
}

.crest img.size48 {
	padding: 16px 5px 16px 16px;
}

.crest img.size64 {
	padding: 21px 5px 21px 21px;
}

.titles {
	display: inline-block;
	padding-bottom: 10px;
}

.titles.size64 {
	padding-top: 40px;
}

.titles.size48 {
	padding-top: 35px;
}

.titles a span, .titles a, .titles a:link, .titles a:visited {
	text-decoration: none;
}

.titles span {
	font-family: Times New Roman;
	font-weight: bold;
	display: block;
}

.titles.white span {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.titles.black span {
	color: #000;
	border-bottom: 1px solid #000;
}

.titles.size64 span {
	font-size: 13px;
}

.titles.size48 span {
	font-size: 10px;
}

.crest-border-none {
	border-bottom: none !Important;
}

.line1.crest-border-none {
	padding-top: 8px;
}

.crest-layout-stacked .crest {
	float: none;
}

.crest-layout-stacked .titles {
	text-align: center;
	padding-top: 0;
}

.crest-layout-stacked .crest img {
	padding: 0 0 5px 0 ;
	display: block;
	margin: auto;
}